{% extends '_index/base.html' %}
{% load i18n static %}
{% load custom_urls %}
{% block head_title %}{% trans 'Contact Us' %}{% endblock head_title %}
{% block head_message %}{% blocktrans %}
Get in touch and let us know how we can help you with your cooking needs.
Fill out the form and we’ll be in touch as soon as possible.
{% endblocktrans %}{% endblock head_message %}
{% block content %}
		<!--CONTACT FORM-->
		<section class="section mt-7n">
			<div class="container bring-to-front pt-0">
				<div class="row align-items-center gap-y">
					<div class="col-md-6">
						<div class="shadow bg-1 p-4 rounded">
							<form method="post" class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up">
                                {% csrf_token %}
								<div class="form-group">
									<label for="contact_email" class="bold mb-0">{% trans 'Email address' %}</label>
									<small id="emailHelp" class="form-text color-2 mt-0 mb-2 italic">{% trans 'We will never share your email with anyone else.' %}</small>
									<input type="email" name="Contact[email]" id="contact_email" class="form-control bg-1" placeholder="{% trans 'Valid Email' %}" value="{% if contact_email %}{{ email }}{% else %}{{ user.email }}{% endif %}" required>
									{% if email_error %}<span class="small text-danger">{{ email_error }}</span>{% endif %}
								</div>
								<div class="form-group">
									<label for="contact_email" class="bold">{% trans 'Subject' %}</label>
									<input type="text" name="Contact[subject]" id="contact_subject" class="form-control bg-1" placeholder="{% trans 'Subject' %}" value="{{ subject }}" required>
									{% if subject_error %}<span class="small text-danger">{{ subject_error }}</span>{% endif %}
								</div>
								<div class="form-group">
									<label for="contact_email" class="bold">{% trans 'Message' %}</label>
									<textarea name="Contact[message]" id="contact_message" class="form-control bg-1" placeholder="{% trans 'What do you want to let us know?' %}" rows="8" value="{{ message }}" required></textarea>
									{% if message_error %}<span class="small text-danger">{{ message_error }}</span>{% endif %}
								</div>
								<div class="form-group">
									<button id="contact-submit" data-loading-text="Sending..." name="submit" type="submit" class="btn btn-accent btn-rounded">{% trans 'Send Message' %}</button>
								</div>
							</form>
							<div class="response-message">
								<div class="section-heading">
									<i class="fas fa-check font-lg"></i>
									<p class="font-md m-0">{% trans 'Thank you!' %}</p>
									<p class="response">{% trans 'Your message has been send, we will contact you as soon as possible.' %}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 ml-md-auto">
						<div class="section-heading">
							<h2>{% trans 'Get in touch' %}</h2>
						</div>
						<div class="media">
							<i class="fas fa-map-marker font-l color-3 mr-3"></i>
							<div class="media-body">{% trans 'Arizona State University,' %}
								<span class="d-block">{% trans 'Tempe, AZ' %}</span>
							</div>
						</div>
						<div class="media">
							<i class="fas fa-envelope font-l color-3 mr-3"></i>
							<div class="media-body">
								<a href="mailto:info@codedevils.org">Info@CodeDevils.org</a>
							</div>
						</div>
						<hr class="my-4">
						<nav class="nav justify-content-center justify-content-md-start">
                            <a href="{% custom_url 'facebook' %}" target="_blank"
                               class="btn btn-circle btn-sm brand-facebook mr-3">
								<i class="fab fa-facebook"></i>
							</a>
                            <a href="{% custom_url 'twitter' %}" target="_blank"
                               class="btn btn-circle btn-sm brand-twitter mr-3">
								<i class="fab fa-twitter"></i>
							</a>
                            <a href="{% custom_url 'instagram' %}" target="_blank"
                               class="btn btn-circle btn-sm brand-instagram mr-3">
                                <i class="fab fa-instagram"></i>
							</a>
							<a href="{% custom_url 'linkedin' %}" target="_blank"
			   					class="btn btn-circle btn-sm brand-linkedin mr-3">
								<i class="fab fa-linkedin"></i>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!--OUR SOCIAL PAGES-->
		<section class="section b-b">
			<div class="container">
				<div class="row gap-y align-items-center text-center text-lg-left">
					<div class="col-12 col-md-6 py-4 px-5 b-md-r">
						<i class="pe pe-7s-plugin pe-3x color-5"></i>
						<a href="javascript:;" class="mt-4 color-5 d-flex align-items-center">
							<h4 class="mr-3">{% trans 'Project Support' %}</h4>
							<i class="fas fa-long-arrow-alt-right"></i>
						</a>
						<p class="mt-4">{% blocktrans %}Looking for a custom quote? need to tell us more about your project? or want a demonstration? drop us a line to{% endblocktrans %}
							<a href="mailto:pec@codedevils.org">PEC@CodeDevils.org</a>
						</p>
					</div>
					<div class="col-12 col-md-6 py-4 px-5">
						<i class="pe pe-7s-help2 pe-3x color-5"></i>
						<a href="javascript:;" class="mt-4 color-5 d-flex align-items-center">
							<h4 class="mr-3">{% trans 'Technical Support' %}</h4>
							<i class="fas fa-long-arrow-alt-right"></i>
						</a>
						<p class="mt-4">{% blocktrans %}Any question about how to integrate your product?. Don't fret, our geek team is ready for you at{% endblocktrans %}
							<a href="mailto:webmaster@codedevils.org">Webmaster@CodeDevils.org</a>
						</p>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}
{% block create_account_footer %}{% endblock create_account_footer %}
